:root {
  --background: #2a2b2f;
  --text: #ffffff;

  --inputbg: #58595e;
  --inputlight: #717277;
  --inputdark: #232428;

  --hoverbg: #684682;
  --hoverlight: #7a658e;
  --hoverdark: #281e37;

  --donebg: #4ea752;
  --donelight: #75b581;
  --donedark: #2f6928;

  --redbg: #f24b5b;
  --redlight: #e7607e;
  --reddark: #43191d;
}

html {
  background: var(--background);
  color: var(--text);
  font: 16px / 1.6 sans-serif;
}

body {
  width: 40em;
  margin: 1em auto;
  height: 100%;
}
.container{
  margin: 5px;
  height: 100%;
  background-color: bisque;
}
.inputbar{
  margin: 10px;

}

